In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
parcel = pd.read_csv("../../data/raw/EXTR_Parcel.csv", dtype=str)
resbldg = pd.read_csv("../../data/raw/EXTR_ResBldg.csv", dtype=str)
rpsale = pd.read_csv("../../data/raw/EXTR_RPSale.csv", dtype=str)
lookup = pd.read_csv("../../data/raw/EXTR_LookUp.csv", dtype=str)

In [3]:
print(parcel.shape)
parcel.head()

(205199, 82)

,Unnamed: 0,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,0,807841,0410,,SUMMER RIDGE DIV NO. 02,41,,6,25,22,...,N,N,N,N,N,N,N,N,N,N
1,2,755080,0015,,SANDER'S TO GILMAN PK & SALMON BAY,3,1,3,25,11,...,N,N,N,N,N,N,N,N,N,N
2,3,888600,0135,,VASHON GARDENS ADD,21,,3,22,8,...,N,N,N,N,N,N,N,N,N,N
3,6,022603,9181,,NaN,,,3,26,2,...,N,N,N,N,N,N,N,N,N,N
4,7,229670,0160,,ELDORADO NORTH,16,,5,26,19,...,N,N,N,N,N,N,N,N,N,N

In [4]:
parcel.columns

Index(['Unnamed: 0', 'Major', 'Minor', 'PropName', 'PlatName', 'PlatLot',
       'PlatBlock', 'Range', 'Township', 'Section', 'QuarterSection',
       'PropType', 'Area', 'SubArea', 'SpecArea', 'SpecSubArea',
       'DistrictName', 'LevyCode', 'CurrentZoning', 'HBUAsIfVacant',
       'HBUAsImproved', 'PresentUse', 'SqFtLot', 'WaterSystem', 'SewerSystem',
       'Access', 'Topography', 'StreetSurface', 'RestrictiveSzShape',
       'InadequateParking', 'PcntUnusable', 'Unbuildable', 'MtRainier',
       'Olympics', 'Cascades', 'Territorial', 'SeattleSkyline', 'PugetSound',
       'LakeWashington', 'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView',
       'WfntLocation', 'WfntFootage', 'WfntBank', 'WfntPoorQuality',
       'WfntRestrictedAccess', 'WfntAccessRights', 'WfntProximityInfluence',
       'TidelandShoreland', 'LotDepthFactor', 'TrafficNoise', 'AirportNoise',
       'PowerLines', 'OtherNuisances', 'NbrBldgSites', 'Contamination',
       'DNRLease', 'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
       'OtherProblems'],
      dtype='object')

In [5]:
parcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205199 entries, 0 to 205198
Data columns (total 82 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              205199 non-null  object
 1   Major                   205199 non-null  object
 2   Minor                   205199 non-null  object
 3   PropName                196088 non-null  object
 4   PlatName                176654 non-null  object
 5   PlatLot                 205199 non-null  object
 6   PlatBlock               205199 non-null  object
 7   Range                   205199 non-null  object
 8   Township                205199 non-null  object
 9   Section                 205199 non-null  object
 10  QuarterSection          205199 non-null  object
 11  PropType                205199 non-null  object
 12  Area                    205193 non-null  object
 13  SubArea                 205193 non-null  object
 14  SpecArea                4864 non-null    object
 15  SpecSubArea             4864 non-null    object
 16  DistrictName            205199 non-null  object
 17  LevyCode                205199 non-null  object
 18  CurrentZoning           205199 non-null  object
 19  HBUAsIfVacant           205199 non-null  object
 20  HBUAsImproved           205199 non-null  object
 21  PresentUse              205199 non-null  object
 22  SqFtLot                 205199 non-null  object
 23  WaterSystem             205199 non-null  object
 24  SewerSystem             205199 non-null  object
 25  Access                  205199 non-null  object
 26  Topography              205199 non-null  object
 27  StreetSurface           205199 non-null  object
 28  RestrictiveSzShape      205199 non-null  object
 29  InadequateParking       205199 non-null  object
 30  PcntUnusable            205199 non-null  object
 31  Unbuildable             205199 non-null  object
 32  MtRainier               205199 non-null  object
 33  Olympics                205199 non-null  object
 34  Cascades                205199 non-null  object
 35  Territorial             205199 non-null  object
 36  SeattleSkyline          205199 non-null  object
 37  PugetSound              205199 non-null  object
 38  LakeWashington          205199 non-null  object
 39  LakeSammamish           205199 non-null  object
 40  SmallLakeRiverCreek     205199 non-null  object
 41  OtherView               205199 non-null  object
 42  WfntLocation            205199 non-null  object
 43  WfntFootage             205199 non-null  object
 44  WfntBank                205199 non-null  object
 45  WfntPoorQuality         205199 non-null  object
 46  WfntRestrictedAccess    205199 non-null  object
 47  WfntAccessRights        205199 non-null  object
 48  WfntProximityInfluence  205199 non-null  object
 49  TidelandShoreland       205199 non-null  object
 50  LotDepthFactor          205199 non-null  object
 51  TrafficNoise            205199 non-null  object
 52  AirportNoise            205199 non-null  object
 53  PowerLines              205199 non-null  object
 54  OtherNuisances          205199 non-null  object
 55  NbrBldgSites            205199 non-null  object
 56  Contamination           205199 non-null  object
 57  DNRLease                205199 non-null  object
 58  AdjacentGolfFairway     205199 non-null  object
 59  AdjacentGreenbelt       205199 non-null  object
 60  HistoricSite            205199 non-null  object
 61  CurrentUseDesignation   205199 non-null  object
 62  NativeGrowthProtEsmt    205199 non-null  object
 63  Easements               205199 non-null  object
 64  OtherDesignation        205199 non-null  object
 65  DeedRestrictions        205199 non-null  object
 66  DevelopmentRightsPurch  205199 non-null  object
 67  CoalMineHazard          205199 non-null  object
 68  CriticalDrainage        205199 non-null  object
 69  ErosionHazard           205199 non-null  object
 70  LandfillBuffer          205199 non-null  object
 71  HundredYrFloodPlain     205199 non-null  object
 72  SeismicHazard           205199 non-null  object
 73  LandslideHazard         205199 non-null  object
 74  SteepSlopeHazard        205199 non-null  object
 75  Stream                  205199 non-null  object
 76  Wetland                 205199 non-null  object
 77  SpeciesOfConcern        205199 non-null  object
 78  SensitiveAreaTract      205199 non-null  object
 79  WaterProblems           205199 non-null  object
 80  TranspConcurrency       205199 non-null  object
 81  OtherProblems           205199 non-null  object
dtypes: object(82)
memory usage: 128.4+ MB

In [6]:
parcel.isna().sum().sort_values(ascending=False)[:10]

SpecSubArea      200335
SpecArea         200335
PlatName          28545
PropName           9111
Area                  6
SubArea               6
OtherProblems         0
Access                0
Topography            0
StreetSurface         0
dtype: int64

In [7]:
parcel.drop(['Unnamed: 0','SpecArea', 'SpecSubArea','PlatName','PropName','SubArea','Area'], axis=1, inplace=True)

In [8]:
parcel.head()

,Major,Minor,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,DistrictName,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,807841,0410,41,,6,25,22,SW,R,SAMMAMISH,...,N,N,N,N,N,N,N,N,N,N
1,755080,0015,3,1,3,25,11,NW,R,SEATTLE,...,N,N,N,N,N,N,N,N,N,N
2,888600,0135,21,,3,22,8,NE,R,KING COUNTY,...,N,N,N,N,N,N,N,N,N,N
3,022603,9181,,,3,26,2,NW,R,SHORELINE,...,N,N,N,N,N,N,N,N,N,N
4,229670,0160,16,,5,26,19,SW,R,KIRKLAND,...,N,N,N,N,N,N,N,N,N,N

In [9]:
print(resbldg.shape)
resbldg.head()

(181510, 50)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,009800,0720,1,1,27719 SE 26TH WAY 98075,27719,,SE,26TH,WAY,...,0,0,0,2001,0,0,0,0,3,0
1,009802,0140,1,1,2829 277TH TER SE 98075,2829,,,277TH,TER,...,0,0,0,2004,0,0,0,0,3,0
2,009830,0020,1,1,1715 298TH CRESENT SE,1715,,,298TH CRESENT,,...,0,0,0,2017,0,0,0,0,3,0
3,009830,0160,1,1,1861 297TH WAY SE 98024,1861,,,297TH,WAY,...,0,0,0,2013,0,0,0,0,3,0
4,010050,0180,1,1,35410 25TH PL S 98003,35410,,,25TH,PL,...,0,0,0,1994,0,0,0,0,4,0

In [10]:
resbldg.columns

Index(['Major', 'Minor', 'BldgNbr', 'NbrLivingUnits', 'Address',
       'BuildingNumber', 'Fraction', 'DirectionPrefix', 'StreetName',
       'StreetType', 'DirectionSuffix', 'ZipCode', 'Stories', 'BldgGrade',
       'BldgGradeVar', 'SqFt1stFloor', 'SqFtHalfFloor', 'SqFt2ndFloor',
       'SqFtUpperFloor', 'SqFtUnfinFull', 'SqFtUnfinHalf', 'SqFtTotLiving',
       'SqFtTotBasement', 'SqFtFinBasement', 'FinBasementGrade',
       'SqFtGarageBasement', 'SqFtGarageAttached', 'DaylightBasement',
       'SqFtOpenPorch', 'SqFtEnclosedPorch', 'SqFtDeck', 'HeatSystem',
       'HeatSource', 'BrickStone', 'ViewUtilization', 'Bedrooms',
       'BathHalfCount', 'Bath3qtrCount', 'BathFullCount', 'FpSingleStory',
       'FpMultiStory', 'FpFreestanding', 'FpAdditional', 'YrBuilt',
       'YrRenovated', 'PcntComplete', 'Obsolescence', 'PcntNetCondition',
       'Condition', 'AddnlCost'],
      dtype='object')

In [11]:
resbldg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181510 entries, 0 to 181509
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Major               181510 non-null  object
 1   Minor               181510 non-null  object
 2   BldgNbr             181510 non-null  object
 3   NbrLivingUnits      181510 non-null  object
 4   Address             181510 non-null  object
 5   BuildingNumber      181510 non-null  object
 6   Fraction            181510 non-null  object
 7   DirectionPrefix     181146 non-null  object
 8   StreetName          181510 non-null  object
 9   StreetType          181510 non-null  object
 10  DirectionSuffix     181146 non-null  object
 11  ZipCode             154594 non-null  object
 12  Stories             181510 non-null  object
 13  BldgGrade           181510 non-null  object
 14  BldgGradeVar        181510 non-null  object
 15  SqFt1stFloor        181510 non-null  object
 16  SqFtHalfFloor       181510 non-null  object
 17  SqFt2ndFloor        181510 non-null  object
 18  SqFtUpperFloor      181510 non-null  object
 19  SqFtUnfinFull       181510 non-null  object
 20  SqFtUnfinHalf       181510 non-null  object
 21  SqFtTotLiving       181510 non-null  object
 22  SqFtTotBasement     181510 non-null  object
 23  SqFtFinBasement     181510 non-null  object
 24  FinBasementGrade    181510 non-null  object
 25  SqFtGarageBasement  181510 non-null  object
 26  SqFtGarageAttached  181510 non-null  object
 27  DaylightBasement    181510 non-null  object
 28  SqFtOpenPorch       181510 non-null  object
 29  SqFtEnclosedPorch   181510 non-null  object
 30  SqFtDeck            181510 non-null  object
 31  HeatSystem          181510 non-null  object
 32  HeatSource          181510 non-null  object
 33  BrickStone          181510 non-null  object
 34  ViewUtilization     181510 non-null  object
 35  Bedrooms            181510 non-null  object
 36  BathHalfCount       181510 non-null  object
 37  Bath3qtrCount       181510 non-null  object
 38  BathFullCount       181510 non-null  object
 39  FpSingleStory       181510 non-null  object
 40  FpMultiStory        181510 non-null  object
 41  FpFreestanding      181510 non-null  object
 42  FpAdditional        181510 non-null  object
 43  YrBuilt             181510 non-null  object
 44  YrRenovated         181510 non-null  object
 45  PcntComplete        181510 non-null  object
 46  Obsolescence        181510 non-null  object
 47  PcntNetCondition    181510 non-null  object
 48  Condition           181510 non-null  object
 49  AddnlCost           181510 non-null  object
dtypes: object(50)
memory usage: 69.2+ MB

In [12]:
resbldg.isna().sum().sort_values(ascending=False)[:10]

ZipCode            26916
DirectionPrefix      364
DirectionSuffix      364
BldgGrade              0
SqFtTotBasement        0
SqFtTotLiving          0
SqFtUnfinHalf          0
SqFtUnfinFull          0
SqFtUpperFloor         0
SqFt2ndFloor           0
dtype: int64

In [13]:
print(rpsale.shape)
rpsale.head()

(351067, 24)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2857854,198920,1430,03/28/2017,0,20170410000541,,,,,...,3,7,15,N,N,N,N,16,2,20 31
1,2743355,638580,0110,07/14/2015,190000,20150715002686,,,,,...,3,6,3,N,N,N,N,1,8,15
2,2999169,919715,0200,07/08/2019,192000,20190712001080,,,,,...,3,2,3,N,N,N,N,1,3,
3,2841697,894677,0240,12/21/2016,818161,20161228000896,,,,,...,2,6,3,N,N,N,N,1,8,
4,2826129,445872,0260,10/03/2016,0,20161004000511,,,,,...,3,2,15,N,N,N,N,18,3,18 31

In [14]:
rpsale.columns

Index(['ExciseTaxNbr', 'Major', 'Minor', 'DocumentDate', 'SalePrice',
       'RecordingNbr', 'Volume', 'Page', 'PlatNbr', 'PlatType', 'PlatLot',
       'PlatBlock', 'SellerName', 'BuyerName', 'PropertyType', 'PrincipalUse',
       'SaleInstrument', 'AFForestLand', 'AFCurrentUseLand', 'AFNonProfitUse',
       'AFHistoricProperty', 'SaleReason', 'PropertyClass', 'SaleWarning'],
      dtype='object')

In [15]:
rpsale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351067 entries, 0 to 351066
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ExciseTaxNbr        351067 non-null  object
 1   Major               351067 non-null  object
 2   Minor               351067 non-null  object
 3   DocumentDate        351067 non-null  object
 4   SalePrice           351067 non-null  object
 5   RecordingNbr        351067 non-null  object
 6   Volume              351067 non-null  object
 7   Page                351067 non-null  object
 8   PlatNbr             351067 non-null  object
 9   PlatType            351067 non-null  object
 10  PlatLot             351067 non-null  object
 11  PlatBlock           351067 non-null  object
 12  SellerName          351067 non-null  object
 13  BuyerName           351067 non-null  object
 14  PropertyType        351067 non-null  object
 15  PrincipalUse        351067 non-null  object
 16  SaleInstrument      351067 non-null  object
 17  AFForestLand        351067 non-null  object
 18  AFCurrentUseLand    351067 non-null  object
 19  AFNonProfitUse      351067 non-null  object
 20  AFHistoricProperty  351067 non-null  object
 21  SaleReason          351067 non-null  object
 22  PropertyClass       351067 non-null  object
 23  SaleWarning         351067 non-null  object
dtypes: object(24)
memory usage: 64.3+ MB

In [16]:
rpsale.isna().sum()

ExciseTaxNbr          0
Major                 0
Minor                 0
DocumentDate          0
SalePrice             0
RecordingNbr          0
Volume                0
Page                  0
PlatNbr               0
PlatType              0
PlatLot               0
PlatBlock             0
SellerName            0
BuyerName             0
PropertyType          0
PrincipalUse          0
SaleInstrument        0
AFForestLand          0
AFCurrentUseLand      0
AFNonProfitUse        0
AFHistoricProperty    0
SaleReason            0
PropertyClass         0
SaleWarning           0
dtype: int64

In [17]:
rpsale.drop(['Volume','Page','PlatNbr','PlatType','PlatLot','PlatBlock'], axis=1, inplace=True)

In [18]:
rpsale.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2857854,198920,1430,03/28/2017,0,20170410000541,AD APARTMENTS LLC ...,SEATTLE CITY OF ...,3,7,15,N,N,N,N,16,2,20 31
1,2743355,638580,0110,07/14/2015,190000,20150715002686,GINGRICH AUDREY B ...,NATION FRED I ...,3,6,3,N,N,N,N,1,8,15
2,2999169,919715,0200,07/08/2019,192000,20190712001080,WAGNERESTATES LLC ...,SCHAFFER CORBIN ...,3,2,3,N,N,N,N,1,3,
3,2841697,894677,0240,12/21/2016,818161,20161228000896,QUADRANT CORPORATION ...,KANG JING ...,2,6,3,N,N,N,N,1,8,
4,2826129,445872,0260,10/03/2016,0,20161004000511,MARCH CARL J + SUSAN A ...,MARCH CARL J + SUSAN A REVOCABLE LIVING TRUST ...,3,2,15,N,N,N,N,18,3,18 31

In [19]:
lookup.head()

  LUType LUItem                                      LUDescription
0    1      1    LAND ONLY                                     ...
1    1      10   Land with new building                        ...
2    1      11   Household, single family units                ...
3    1      12   Multiple family residence (Residential, 2-4 un...
4    1      13   Multiple family residence (Residential, 5+ uni...

In [20]:
parcel.duplicated(keep=False)

0         False
1         False
2         False
3         False
4         False
          ...
205194    False
205195    False
205196    False
205197    False
205198    False
Length: 205199, dtype: bool

In [21]:
rpsale.duplicated(keep=False)

0         False
1         False
2         False
3         False
4         False
          ...
351062    False
351063    False
351064    False
351065    False
351066    False
Length: 351067, dtype: bool

## Merging Datasets

In [22]:
sale_parcel = pd.merge(rpsale, parcel, on=['Major', 'Minor'] )
sale_parcel.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,SellerName,BuyerName,PropertyType,PrincipalUse,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,2857854,198920,1430,03/28/2017,0,20170410000541,AD APARTMENTS LLC ...,SEATTLE CITY OF ...,3,7,...,N,N,N,N,N,N,N,N,N,N
1,2843191,198920,1430,12/27/2016,0,20170105001317,AD APARTMENTS L L C ...,SEATTLE CITY OF ...,3,7,...,N,N,N,N,N,N,N,N,N,N
2,2868163,198920,1430,05/30/2017,0,20170601000550,AD APARTMENTS LLC ...,SEATTLE CITY OF ...,3,7,...,N,N,N,N,N,N,N,N,N,N
3,2788087,198920,1430,03/10/2016,14450000,20160401000319,DENNY PROPERTY LLC ...,AD APARTMENTS LLC ...,3,7,...,N,N,N,N,N,N,N,N,N,N
4,2743355,638580,0110,07/14/2015,190000,20150715002686,GINGRICH AUDREY B ...,NATION FRED I ...,3,6,...,N,N,N,N,N,N,N,N,N,N

In [23]:
type(sale_parcel)

pandas.core.frame.DataFrame

In [24]:
type(resbldg)

pandas.core.frame.DataFrame

In [25]:
type(rpsale)

pandas.core.frame.DataFrame

In [26]:
type(parcel)

pandas.core.frame.DataFrame

In [27]:
pd.DataFrame(resbldg)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,009800,0720,1,1,27719 SE 26TH WAY 98075,27719,,SE,26TH,WAY,...,0,0,0,2001,0,0,0,0,3,0
1,009802,0140,1,1,2829 277TH TER SE 98075,2829,,,277TH,TER,...,0,0,0,2004,0,0,0,0,3,0
2,009830,0020,1,1,1715 298TH CRESENT SE,1715,,,298TH CRESENT,,...,0,0,0,2017,0,0,0,0,3,0
3,009830,0160,1,1,1861 297TH WAY SE 98024,1861,,,297TH,WAY,...,0,0,0,2013,0,0,0,0,3,0
4,010050,0180,1,1,35410 25TH PL S 98003,35410,,,25TH,PL,...,0,0,0,1994,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181505,197220,1902,1,1,3816 WINSLOW PL N 98103,3816,,,WINSLOW,PL,...,0,0,0,2003,0,0,0,0,3,0
181506,197220,2224,1,1,3841 B WOODLAND PARK AVE N 98103,3841,B,,WOODLAND PARK,AVE,...,0,0,0,2005,0,0,0,0,3,0
181507,197220,5172,1,1,11 B W DRAVUS ST,11,B,W,DRAVUS,ST,...,0,0,0,2007,0,0,0,0,3,0
181508,197220,5173,1,1,11 C W DRAVUS ST,11,C,W,DRAVUS,ST,...,0,0,0,2007,0,0,0,0,3,0
181509,197220,5593,1,1,100 B FLORENTIA ST,100,B,,FLORENTIA,ST,...,0,0,0,2006,0,0,0,0,3,0

In [28]:
df = pd.merge(sale_parcel, resbldg, on=['Major', 'Minor'])
df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,SellerName,BuyerName,PropertyType,PrincipalUse,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,2743355,638580,0110,07/14/2015,190000,20150715002686,GINGRICH AUDREY B ...,NATION FRED I ...,3,6,...,1,0,1,1963,0,0,0,0,3,0
1,2743356,638580,0110,07/14/2015,0,20150715002687,NATION CHRISTINE M ...,NATION FRED I ...,3,6,...,1,0,1,1963,0,0,0,0,3,0
2,2772937,638580,0110,12/21/2015,338000,20151222002066,NATION FRED I ...,SUNG NI HLEI+ZING ESTHER ZA+ZOTUNG ZAW MOE ...,3,6,...,1,0,1,1963,0,0,0,0,3,0
3,2841697,894677,0240,12/21/2016,818161,20161228000896,QUADRANT CORPORATION ...,KANG JING ...,2,6,...,0,0,0,2016,0,0,0,0,3,0
4,3024468,894677,0240,12/05/2019,0,20191209000162,KANG JING ...,KANG JING+XIAO XUAN ...,3,6,...,0,0,0,2016,0,0,0,0,3,0

In [29]:
print(df.shape)
list(df.columns)

(251300, 139)

['ExciseTaxNbr',
 'Major',
 'Minor',
 'DocumentDate',
 'SalePrice',
 'RecordingNbr',
 'SellerName',
 'BuyerName',
 'PropertyType',
 'PrincipalUse',
 'SaleInstrument',
 'AFForestLand',
 'AFCurrentUseLand',
 'AFNonProfitUse',
 'AFHistoricProperty',
 'SaleReason',
 'PropertyClass',
 'SaleWarning',
 'PlatLot',
 'PlatBlock',
 'Range',
 'Township',
 'Section',
 'QuarterSection',
 'PropType',
 'DistrictName',
 'LevyCode',
 'CurrentZoning',
 'HBUAsIfVacant',
 'HBUAsImproved',
 'PresentUse',
 'SqFtLot',
 'WaterSystem',
 'SewerSystem',
 'Access',
 'Topography',
 'StreetSurface',
 'RestrictiveSzShape',
 'InadequateParking',
 'PcntUnusable',
 'Unbuildable',
 'MtRainier',
 'Olympics',
 'Cascades',
 'Territorial',
 'SeattleSkyline',
 'PugetSound',
 'LakeWashington',
 'LakeSammamish',
 'SmallLakeRiverCreek',
 'OtherView',
 'WfntLocation',
 'WfntFootage',
 'WfntBank',
 'WfntPoorQuality',
 'WfntRestrictedAccess',
 'WfntAccessRights',
 'WfntProximityInfluence',
 'TidelandShoreland',
 'LotDepthFactor',
 'TrafficNoise',
 'AirportNoise',
 'PowerLines',
 'OtherNuisances',
 'NbrBldgSites',
 'Contamination',
 'DNRLease',
 'AdjacentGolfFairway',
 'AdjacentGreenbelt',
 'HistoricSite',
 'CurrentUseDesignation',
 'NativeGrowthProtEsmt',
 'Easements',
 'OtherDesignation',
 'DeedRestrictions',
 'DevelopmentRightsPurch',
 'CoalMineHazard',
 'CriticalDrainage',
 'ErosionHazard',
 'LandfillBuffer',
 'HundredYrFloodPlain',
 'SeismicHazard',
 'LandslideHazard',
 'SteepSlopeHazard',
 'Stream',
 'Wetland',
 'SpeciesOfConcern',
 'SensitiveAreaTract',
 'WaterProblems',
 'TranspConcurrency',
 'OtherProblems',
 'BldgNbr',
 'NbrLivingUnits',
 'Address',
 'BuildingNumber',
 'Fraction',
 'DirectionPrefix',
 'StreetName',
 'StreetType',
 'DirectionSuffix',
 'ZipCode',
 'Stories',
 'BldgGrade',
 'BldgGradeVar',
 'SqFt1stFloor',
 'SqFtHalfFloor',
 'SqFt2ndFloor',
 'SqFtUpperFloor',
 'SqFtUnfinFull',
 'SqFtUnfinHalf',
 'SqFtTotLiving',
 'SqFtTotBasement',
 'SqFtFinBasement',
 'FinBasementGrade',
 'SqFtGarageBasement',
 'SqFtGarageAttached',
 'DaylightBasement',
 'SqFtOpenPorch',
 'SqFtEnclosedPorch',
 'SqFtDeck',
 'HeatSystem',
 'HeatSource',
 'BrickStone',
 'ViewUtilization',
 'Bedrooms',
 'BathHalfCount',
 'Bath3qtrCount',
 'BathFullCount',
 'FpSingleStory',
 'FpMultiStory',
 'FpFreestanding',
 'FpAdditional',
 'YrBuilt',
 'YrRenovated',
 'PcntComplete',
 'Obsolescence',
 'PcntNetCondition',
 'Condition',
 'AddnlCost']

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251300 entries, 0 to 251299
Columns: 139 entries, ExciseTaxNbr to AddnlCost
dtypes: object(139)
memory usage: 268.4+ MB

In [31]:
df.isna().sum().sort_values(ascending=False)

ZipCode            39980
DirectionSuffix      604
DirectionPrefix      604
AddnlCost              0
Olympics               0
                   ...
StreetName             0
StreetType             0
Stories                0
BldgGrade              0
ExciseTaxNbr           0
Length: 139, dtype: int64

In [32]:
empty_col = []
for col in df.columns:
    if df[col].value_counts().index[0] == '':
        empty_col.append(col)
empty_col

[]

In [33]:
df.RecordingNbr.value_counts()

                  18638
20191007001027       62
20160104000551       59
20150925000547       54
20170309000731       52
                  ...
20150220002749        1
20160407001033        1
20170713000667        1
20150724001639        1
20150326000350        1
Name: RecordingNbr, Length: 225202, dtype: int64

In [34]:
df.SaleWarning.value_counts()

               154990
18 31 51        26085
26               5324
18 31 51 52      5104
18 31 38         4270
                ...
29 35 45            1
12 22 31 45         1
10 15 52 56         1
14 23 32            1
8 15 17 45          1
Name: SaleWarning, Length: 1236, dtype: int64

In [35]:
df.PlatLot.value_counts()

                  29707
1                  8295
4                  7784
3                  7665
5                  7540
                  ...
167-168               1
VAC 7-8               1
POR 19 THRU 24        1
5 & 4                 1
21 THRU 27            1
Name: PlatLot, Length: 4020, dtype: int64

In [36]:
df.PlatBlock.value_counts()

           141917
2           14295
1           13937
3            9747
4            7452
            ...
8A              1
35&             1
7 & 8           1
77-78           1
A&B             1
Name: PlatBlock, Length: 561, dtype: int64

In [37]:
df.Address.value_counts()

                                 604
20904   677TH PL SE  98045       210
18254   73RD AVE NE              187
                                  45
2646 C NW 59TH ST                 35
                                ...
24629  SE 200TH ST   98038         1
20602  SE 424TH ST   98022         1
1832   SHOREVIEW LN SW  98146      1
18007  SE 282ND CT   98042         1
10610  NE 26TH ST   98004          1
Name: Address, Length: 178921, dtype: int64

In [38]:
df.BuildingNumber.value_counts()

         692
20904    218
18254    187
115      125
321      123
        ...
31643      1
32932      1
31039      1
27934      1
42720      1
Name: BuildingNumber, Length: 26978, dtype: int64

In [39]:
df.Fraction.value_counts()

       242659
A        3448
B        3115
C        1160
D         401
E         134
F          90
1/2        62
a          39
G          32
b          30
 A         23
c          23
SE         10
H           8
d           7
 B          7
101         6
W           4
0           4
I           3
1C          3
103         2
1           2
S           2
e           2
18          2
f           2
SW          2
3           2
J           2
102         2
NW          2
NE          1
op          1
1D          1
2B          1
N           1
sw          1
1A          1
16          1
2           1
 D          1
Name: Fraction, dtype: int64

In [40]:
df.DirectionPrefix.value_counts()

      151607
SE     29406
NE     28149
S      16033
SW      9603
NW      5803
N       5333
E       2584
W       2178
Name: DirectionPrefix, dtype: int64

In [41]:
df.DirectionSuffix.value_counts()

      107164
NE     37701
SE     36752
S      25110
SW     20616
N       8212
NW      7084
W       4429
E       3624
ST         4
Name: DirectionSuffix, dtype: int64

In [42]:
conts = []
cats = []
for col in df.columns:
    if(df[col].nunique() < 25):
        cats.append(col)
    else:
        conts.append(col)
print('Continuous variables:', conts)  
print('Categorical variables:', cats)

Continuous variables: ['ExciseTaxNbr', 'Major', 'Minor', 'DocumentDate', 'SalePrice', 'RecordingNbr', 'SellerName', 'BuyerName', 'PropertyType', 'SaleInstrument', 'SaleWarning', 'PlatLot', 'PlatBlock', 'Section', 'DistrictName', 'LevyCode', 'CurrentZoning', 'PresentUse', 'SqFtLot', 'WfntFootage', 'LotDepthFactor', 'Address', 'BuildingNumber', 'Fraction', 'StreetName', 'ZipCode', 'SqFt1stFloor', 'SqFtHalfFloor', 'SqFt2ndFloor', 'SqFtUpperFloor', 'SqFtUnfinFull', 'SqFtUnfinHalf', 'SqFtTotLiving', 'SqFtTotBasement', 'SqFtFinBasement', 'SqFtGarageBasement', 'SqFtGarageAttached', 'SqFtOpenPorch', 'SqFtEnclosedPorch', 'SqFtDeck', 'BrickStone', 'YrBuilt', 'YrRenovated', 'PcntComplete', 'Obsolescence', 'AddnlCost']
Categorical variables: ['PrincipalUse', 'AFForestLand', 'AFCurrentUseLand', 'AFNonProfitUse', 'AFHistoricProperty', 'SaleReason', 'PropertyClass', 'Range', 'Township', 'QuarterSection', 'PropType', 'HBUAsIfVacant', 'HBUAsImproved', 'WaterSystem', 'SewerSystem', 'Access', 'Topography', 'StreetSurface', 'RestrictiveSzShape', 'InadequateParking', 'PcntUnusable', 'Unbuildable', 'MtRainier', 'Olympics', 'Cascades', 'Territorial', 'SeattleSkyline', 'PugetSound', 'LakeWashington', 'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView', 'WfntLocation', 'WfntBank', 'WfntPoorQuality', 'WfntRestrictedAccess', 'WfntAccessRights', 'WfntProximityInfluence', 'TidelandShoreland', 'TrafficNoise', 'AirportNoise', 'PowerLines', 'OtherNuisances', 'NbrBldgSites', 'Contamination', 'DNRLease', 'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite', 'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements', 'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch', 'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer', 'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard', 'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern', 'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency', 'OtherProblems', 'BldgNbr', 'NbrLivingUnits', 'DirectionPrefix', 'StreetType', 'DirectionSuffix', 'Stories', 'BldgGrade', 'BldgGradeVar', 'FinBasementGrade', 'DaylightBasement', 'HeatSystem', 'HeatSource', 'ViewUtilization', 'Bedrooms', 'BathHalfCount', 'Bath3qtrCount', 'BathFullCount', 'FpSingleStory', 'FpMultiStory', 'FpFreestanding', 'FpAdditional', 'PcntNetCondition', 'Condition']

In [48]:
df.SalePrice = df.SalePrice.astype(int)

In [49]:
df.SalePrice

0         190000
1              0
2         338000
3         818161
4              0
           ...
251295         0
251296    955000
251297    850000
251298    900000
251299    399950
Name: SalePrice, Length: 251300, dtype: int64

In [50]:
df.describe()

          SalePrice
count  2.513000e+05
mean   5.147809e+05
std    8.367786e+05
min   -6.000000e+02
25%    0.000000e+00
50%    4.142500e+05
75%    7.060000e+05
max    6.250000e+07

In [ ]:
df.hist(figsize=(18,15), bins='auto');